<div class="modal" id="login-modal">
  <div class="container d-flex justify-content-center">
    <div class="content">
<h1 class="main-title">"Dev hangout"</h1>
      <h2>LOGIN</h2>

      <form action="" id="login-form" class="log-forms">
        <input
          type="text"
          name="login-username"
          id="loginUserName"
          autocomplete="on"
          placeholder="Username"
        />
        <input
          type="password"
          name="login-password"
          id="loginPassword"
          autocomplete="on"
          placeholder="Password"
        />

        <button class="signup-btn" id="login-button">Login</button>
        <a href="#" id="signup-instead-link"><h6>Register</h6></a>
      </form>
    </div>
  </div>
</div>