:root {
  --main-bg-color: #0d1117;
  --main-second-bg-color: #161b22;
  --main-text-color: #c9d1d9;
  --main-highlight-color: #1f6feb;
  --main-border-color: #30363d;
  --main-title-color: #98c379;
  --null-color: #d19a66;
  --font-stack: "Source Code Pro", "Helvetica";
}

* {
  margin: 0 !important;
  box-sizing: border-box;
}

body {
  font-family: var(--font-stack) !important;
}

.h-90 {
  height: 90%;
}

.h-10 {
  height: 10%;
}

/* hamburger menu */
.bar::after{
  content: '';
  position: absolute;
  width: 32px;
  height: 5px;
  border-radius: 5px;
  background-color: #98c379;
}

/* aside styles */
.user-list-item:hover {
  background-color: #c9d1d9;
  cursor: pointer;
}

.room-list-styles:hover {
  cursor: pointer;
  background-color: #c9d1d9;
}

/*account icon styles */
.fa-user {
  padding: 8px;
  border-radius: 5px;
}

.fa-user:hover {
  background-color: #c9d1d9;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* side navigation */
.sidenav{
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}