{{#if loggedIn}}
<div class="modal-blur ">
  {{else}}
  <div class="modal-blur blur ">
    {{/if}}
    <header>
      <div class="container">
        <section class="row">
          <div class="col-md-6 col-9 d-flex align-items-center">
            <a href="/">
              <h1>Dev Hangout</h1>
            </a>
          </div>
          <div class="col-md-6 col-3 d-flex align-items-center justify-content-end">
            <h4 class="mb-0 me-2 d-md-block d-none fw-light">EXPLORE</h4>
            <button id="account-btn" class="hamburger">
                <div class="bar"></div>
            </button>          
          </div>
        </section>
      </div>
    </header>

    <div class="account-slideout">
      <div class="slideout">
        <div class="container h-100">
          <div class="d-flex justify-content-center align-items-center mb-3 mt-2">
            <h2 id="slideout-username"></h2>
            {{#if loggedIn}}
              <a href="#" class="log-in" id="logout-link">Logout</a>
            {{/if}}
          </div>
          <h3 class="accordion-heading">Users</h3>
          <div class="list-container">
            <ul id="user-list" class="items-list text-right"></ul>
          </div>
          <h3 class="accordion-heading">Rooms</h3>
          <div class="list-container">
            <ul id="room-list" class="items-list">
              <li>Front-End Frat Party</li>
              <li>Back-End Boyz</li>
              <li>JS Jugglers</li>                
              <li>Dev Advice</li>
              <li>Coding Companion</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <main class="chat-container container " id="main-chat">
      <ul id="messages"></ul>
      <section class="row justify-content-center">
        <div class="col-md-10">
          <form id="form">
            <input id="input" placeholder="Send a message..."></input>
            <button>Send <i class="fa fa-caret-right" aria-hidden="true"></i></button>
          </form>
        </div>
      </section>
    </main>
  </div>

  {{#unless loggedIn}}
  {{> login-modal}}
  {{> signup-modal}}
  {{/unless}}
  <!-- script tag must be included in html to have access to the socket method -->
  {{#if loggedIn}}
  <script src="/socket.io/socket.io.js"></script>
  {{/if}}
  {{#unless loggedIn}}

  <script src="/js/signup.js"></script>
  <script src="/js/login.js"></script>
  {{/unless}}
  <script src="/js/logic.js"></script>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}