<div class="chat-container">
  <ul id="messages" class="chat-messages"></ul>
</div>

<form id="form" class="msg-form">
  <input id="input" class="msg-input" /><button class="msg-btn">
    Send
  </button>
</form>
<!-- script tag must be included in html to have access to the socket method -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/logic.js"></script>