<div class="chat-container container">
  <ul id="messages"></ul>
  <section class="row justify-content-center">
    <div class="col-md-10">
      <form id="form">
        <input id="input" placeholder="Send a message..."></input>
        <button>Send <i class="fa fa-caret-right" aria-hidden="true"></i></button>
      </form>
    </div>
  </section>
</div>

<!-- script tag must be included in html to have access to the socket method -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/logic.js"></script>