<div id="login-modal"
    class="wall-modal-backdrop position-fixed top-0 left-0 w-100 h-100 modal-container justify-content-center align-items-center">
    <div class="container">
        <div class="wall-modal d-flex flex-column justify-content-start align-items-center m-auto">
            <h1 class="main-title fst-italic">"Dev hangOut"</h1>
            <h4 class="form-title">LOGIN</h4>

            <form action="" id="login-form" class="form-styles d-flex flex-column align-items-center gap-3">
                <input type="text" name="login-username" id="loginUserName" autocomplete="on" placeholder="userName" />
                <input type="password" name="login-password" id="loginPassword" autocomplete="on"
                    placeholder="passWord" />

                <button class="btn wall-modal-btn" id="login-button">Login</button>
                <a href="/register" id="register-instead-link">
                    <h6 class="modal-switch">Register</h6>
                </a>
            </form>
        </div>
    </div>
</div>
<script src="/js/login.js"></script>