{{!-- 
<div class="modal"> --}}
  <div class="modal-content">


    <h2>Login!</h2>

    <form action="" id="login-form">
      <label for="login-username">Enter a username</label>
      <input type="text" name="login-username" id="loginUserName" />
      <label for="login-password">Enter a password</label>
      <input type="password" name="login-password" id="loginPassword" />

      <button class="signup-btn" id="signup-button">Login</button>
      <a href="/signup"><h3>Signup Instead</h3></a>
    </form>
  </div>
{{!-- </div> --}}
<script src="/js/login.js"></script>