<link rel="stylesheet" href="/css/wall-modal.css">

<div id="register-modal"
    class="wall-modal-backdrop position-fixed top-0 left-0 w-100 h-100 d-flex justify-content-center align-items-center">

    <div class="container">

        <div class="wall-modal d-flex flex-column justify-content-start align-items-center m-auto">
            <h1 class="main-title">"devHangOut"</h1>
            <h4 class="form-title">REGISTER</h4>

            <form id="register-form"
                class="form-styles d-flex flex-column align-items-center gap-3">
                <input type="text" name="register-username" id="registerUserName" autocomplete="on"
                    placeholder="userName" />
                <input type="password" name="password" id="registerPassword" autocomplete="on" placeholder="passWord" />
                <input type="text" name="github-username" id="gitHubUserName" autocomplete="on"
                    placeholder="github username" />

                <button class="btn wall-modal-btn mb-3" id="register-button">Submit</button>
            </form>
            <a href="/login" id="login-instead-link">
                <h6 class="modal-switch">Already Registered?</h6>
            </a>
        </div>
    </div>
</div>
<script src="/js/register.js"></script>