<link rel="stylesheet" href="/css/styles.css" />
<link rel="stylesheet" href="/css/user-info-modal.css" />

{{!-- HEADER --}}
<header class="main-header">
  <div class="container">
    <section class="row">
      <div class="col-md-6 col-9 d-flex ">

        <ul class="logo-container align-items-center ">
          <i class="quotes align-items-center ">"</i>
          <li class="main-logo">D</li>
          <li class="main-logo">e</li>
          <li class="main-logo">v</li>
          <li class="main-logo">H</li>
          <li class="main-logo">a</li>
          <li class="main-logo">n</li>
          <li class="main-logo">g</li>
          <li class="main-logo">o</li>
          <li class="main-logo">u</li>
          <li class="main-logo">t</li>
          <i class="quotes">"</i>
        </ul>

      </div>
      <nav class=" col-md-6 col-3 d-flex align-items-center justify-content-end gap-5 ">

        <button id="account-btn" class="hamburger-menu" aria-label="menu">
          <div class="bar"></div>
        </button>

        <div class="dropdown-center">
          <ul class="dropdown-menu p-0" aria-labelledby="dropdownCenterBtn">
            <a class="dropdown-item p-2" href="/settings" id="settings-link">Settings</a>
            <a class="dropdown-item p-2" id="logout-link">Log out</a>

          </ul>
          <div class=" dropdown-toggle settings" type="button" id="dropdownCenterBtn" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa fa-lg fa-gears" aria-label="Settings"></i>
          </div>
        </div>
      </nav>
    </section>
  </div>
</header>
{{!-- HEADER END --}}

{{!-- CHAT  --}}
<main class="chat-container container " id="main-chat">
  <h2 class="room-title " id="room-name"># {{roomName}}</h2>
  <ul class="chat-list-container" id="messages"></ul>
  <section class="row justify-content-center">
    <div class="col-md-10">
      <form id="chat-form" class="chat-form">
        <input id="chat-input" class="chat-form-input" placeholder="Send a message..."></input>
        <button class="chat-form-btn">Send <i class="fa fa-caret-right " aria-hidden="true"></i></button>
      </form>
    </div>
  </section>
</main>
{{!-- CHAT END --}}

{{!-- ACCOUNT MENU  --}}
<aside class="account-slideout" id="explore-slide">

  {{!--  USER INFO/DM MODAL --}}
  <div class="modal-content" id="userInfoModal">
    <div class="container-fluid">
      <div class="row m-3">
        <div class="col-12 d-flex justify-content-around ttt">
          <div class=""><img src="" alt="user profile image" id="modal-pfp" class="modal-pfp-styles"></div>

          <div class="d-flex flex-column justify-content-end align-items-center">

            <h5 id="modal-username" class="username-modal-styles text-center"></h5>

            <img src="" class="favlang-usermodal" alt="favorite language" id="modal-fav-tech">
          </div>

        </div>
        <div class="col-12">
          <div class="d-flex gap-2 mt-2 ">
            <h5 class="">GitHub</h5> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              preserveAspectRatio="none">
              <path
                d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
            </svg>
          </div>
          <div id="modal-github">

          </div>
        </div>
        <form class="co12 mt-3" id="direct-msg-form">
          <input type="text" id="direct-msg-input" class="dm-input">
        </form>
      </div>
    </div>
  </div>
  {{!--  USER INFO/DM MODAL END  --}}


  <div class="slideout">
    <div class="container h-100">
      <div class="d-flex justify-content-center align-items-center mb-3 mt-2">
        <img src='' class='account-pfp' id="current-user-pfp"><img />
        <h2 id="slideout-username" class="slideout-current-username"></h2>
        <div class="mobile-settings d-flex flex-column align-items-center ms-3">
          <a href="/settings">Settings</a>
          <a href="#" id="logout-link-mobile">Logout</a>
        </div>
      </div>
      <h3 class="accordion-heading">Users</h3>
      <div class="list-container">
        <ul id="user-list" class="items-list text-right"></ul>
      </div>
      <h3 class="accordion-heading">Rooms</h3>
      <div class="list-container">
        <ul id="room-list" class="items-list">
          <li>General</li>
          <li>Python</li>
          <li>JavaScript</li>
          <li>Java</li>
          <li>C</li>
          <li>C++</li>
          <li>C Sharp</li>
          <li>TypeScript</li>
          <li>ObjectiveC</li>
          <li>GoLang</li>
          <li>Other</li>
        </ul>
      </div>
      <h3 class="accordion-heading">DM's</h3>
      <div class="list-container">
        <ul class="dm-list" id="direct-msg-list"></ul>
      </div>
    </div>
  </div>
</aside>
{{!-- ACCOUNT MENU END --}}

</div>

{{!-- script tag must be included in html to have access to the socket method --}}
<script src="/socket.io/socket.io.js"></script>--
<script src="/js/room.js"></script>
<script src="/js/slideout.js"></script>
<script src="/js/user-info-modal.js"></script>
<script src="/js/logout.js"></script>

<script>
  const socket = io();
</script>