{{!--  NOT LOGGED IN BLUR THE BODY AND SHOW MODALS --}}
{{#if loggedIn}}
  <div class="modal-blur ">
{{else}}
  <div class="modal-blur blur ">
{{/if}}

{{!-- HEADER --}}
<header class="main-header">
  <div class="container">

    <section class="row">
      <div class="col-md-6 col-9 d-flex">

        <ul class="logo-container align-items-center">
          <i class="quotes align-items-center ">"</i>
          <li class="main-logo">D</li>
          <li class="main-logo">e</li>
          <li class="main-logo">v</li>
          <li class="main-logo">H</li>
          <li class="main-logo">a</li>
          <li class="main-logo">n</li>
          <li class="main-logo">g</li>
          <li class="main-logo">o</li>
          <li class="main-logo">u</li>
          <li class="main-logo">t</li>
          <i class="quotes">"</i>
        </ul>

      </div>
      <nav class=" col-md-6 col-3 d-flex align-items-center justify-content-end gap-5 ">

        <button id="account-btn" class="hamburger-menu" aria-label="menu">
          <div class="bar"></div>
        </button>

        <div class="dropdown-center">
          <ul class="dropdown-menu p-0" aria-labelledby="dropdownCenterBtn">
            <a class="dropdown-item p-2" href="/settings" id="settings-link">Settings</a>
            <a class="dropdown-item p-2" id="logout-link">Log out</a>

          </ul>
          <div class=" dropdown-toggle settings" type="button" id="dropdownCenterBtn" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa fa-lg fa-gears" aria-label="Settings"></i>
          </div>
        </div>
      </nav>
    </section>
  </div>

</header>
<svg xmlns="http://www.w3.org/2000/svg" class="svg-header" height="500px" viewBox="0 0 1440 320">
  <path fill="#161b22" fill-opacity="1"
    d="M0,224L15,218.7C30,213,60,203,90,208C120,213,150,235,180,250.7C210,267,240,277,270,277.3C300,277,330,267,360,229.3C390,192,420,128,450,112C480,96,510,128,540,170.7C570,213,600,267,630,256C660,245,690,171,720,144C750,117,780,139,810,176C840,213,870,267,900,250.7C930,235,960,149,990,149.3C1020,149,1050,235,1080,250.7C1110,267,1140,213,1170,192C1200,171,1230,181,1260,181.3C1290,181,1320,171,1350,192C1380,213,1410,267,1425,293.3L1440,320L1440,0L1425,0C1410,0,1380,0,1350,0C1320,0,1290,0,1260,0C1230,0,1200,0,1170,0C1140,0,1110,0,1080,0C1050,0,1020,0,990,0C960,0,930,0,900,0C870,0,840,0,810,0C780,0,750,0,720,0C690,0,660,0,630,0C600,0,570,0,540,0C510,0,480,0,450,0C420,0,390,0,360,0C330,0,300,0,270,0C240,0,210,0,180,0C150,0,120,0,90,0C60,0,30,0,15,0L0,0Z">
  </path>
</svg>
{{!-- HEADER END --}}

{{!-- CHAT  --}}
<main class="chat-container container " id="main-chat">
  <h2 class="room-title " id="room-name"># {{roomName}}</h2>
  <ul class="chat-list-container" id="messages"></ul>
  <section class="row justify-content-center">
    <div class="col-md-10">
      <form id="chat-form" class="chat-form">
        <input id="chat-input" class="chat-form-input" placeholder="Send a message..."></input>
        <button class="chat-form-btn">Send <i class="fa fa-caret-right " aria-hidden="true"></i></button>
      </form>
    </div>
  </section>
</main>

{{!-- CHAT END --}}

{{!-- ACCOUNT MENU  --}}
<aside class="account-slideout" id="explore-slide">

  {{!--  USER INFO/DM MODAL --}}
  <div class="modal-content" id="userInfoModal">
    <div class="container-fluid">
      <div class="row m-3">
        <div class="col-12 d-flex justify-content-around ttt">
          <div class=""><img src="" alt="user profile image" id="modal-pfp" class="modal-pfp-styles"></div>

          <div class="d-flex flex-column justify-content-end align-items-center">

            <h5 id="modal-username" class="username-modal-styles text-center"></h5>

            <img src="" class="favlang-usermodal" alt="favorite language" id="modal-fav-tech">
          </div>

        </div>
        <div class="col-12">
          <div class="d-flex gap-2 mt-2 ">
            <h5 class="">GitHub</h5> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              preserveAspectRatio="none">
              <path
                d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
            </svg>
          </div>
          <div id="modal-github">

          </div>
        </div>
        <form class="co12 mt-3" id="direct-msg-form">
          <input type="text" id="direct-msg-input" class="dm-input" placeholder="message @Andrew Howran">
        </form>
      </div>
    </div>
  </div>
  {{!--  USER INFO/DM MODAL END  --}}


  <div class="slideout">
    <div class="container h-100">
      <div class="d-flex justify-content-center align-items-center mb-3 mt-2">
        <img src='' class='account-pfp' id="current-user-pfp"><img />
        <h2 id="slideout-username" class="slideout-current-username"></h2>
        <div class="mobile-settings d-flex flex-column align-items-center ms-3">
          <a href="/settings">Settings</a>
          <a href="#" id="logout-link-mobile">Logout</a>
        </div>
      </div>
      <h3 class="accordion-heading">Users</h3>
      <div class="list-container">
        <ul id="user-list" class="items-list text-right">

        </ul>
      </div>
      <h3 class="accordion-heading">Rooms</h3>
      <div class="list-container">
        <ul id="room-list" class="items-list">
          <li>General</li>
          <li>Python</li>
          <li>JavaScript</li>
          <li>Java</li>
          <li>C</li>
          <li>C++</li>
          <li>C Sharp</li>
          <li>TypeScript</li>
          <li>ObjectiveC</li>
          <li>GoLang</li>
          <li>Other</li>
        </ul>
      </div>
      <h3 class="accordion-heading">DM's</h3>
      <div class="list-container">
        <ul class="dm-list" id="direct-msg-list"> </ul>
      </div>
    </div>
  </div>
</aside>
{{!-- ACCOUNT MENU END --}}

{{!-- BLUR MODAL END --}}

</div>
<svg xmlns="http://www.w3.org/2000/svg" class="svg-bottom" height="500px" viewBox="0 0 1440 320">
  <path fill="#161b22" fill-opacity="1"
    d="M0,224L15,218.7C30,213,60,203,90,208C120,213,150,235,180,250.7C210,267,240,277,270,277.3C300,277,330,267,360,229.3C390,192,420,128,450,112C480,96,510,128,540,170.7C570,213,600,267,630,256C660,245,690,171,720,144C750,117,780,139,810,176C840,213,870,267,900,250.7C930,235,960,149,990,149.3C1020,149,1050,235,1080,250.7C1110,267,1140,213,1170,192C1200,171,1230,181,1260,181.3C1290,181,1320,171,1350,192C1380,213,1410,267,1425,293.3L1440,320L1440,320L1425,320C1410,320,1380,320,1350,320C1320,320,1290,320,1260,320C1230,320,1200,320,1170,320C1140,320,1110,320,1080,320C1050,320,1020,320,990,320C960,320,930,320,900,320C870,320,840,320,810,320C780,320,750,320,720,320C690,320,660,320,630,320C600,320,570,320,540,320C510,320,480,320,450,320C420,320,390,320,360,320C330,320,300,320,270,320C240,320,210,320,180,320C150,320,120,320,90,320C60,320,30,320,15,320L0,320Z">
  </path>
</svg>
{{!--  NOT LOGGED IN SHOW THE LOGIN/REGISTER MODALS --}}
{{#unless loggedIn}}
  {{> login-modal}}
  {{> register-modal}}

  <script src="/js/register.js"></script>
  <script src="/js/login.js"></script>
{{/unless}}

{{#if loggedIn}}
  {{!-- script tag must be included in html to have access to the socket method --}}
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/logout.js"></script>
  <script src="/js/user-info-modal.js"></script>
  <script src="/js/direct-messages.js"></script>
{{/if}}
<script src="/js/logic.js"></script>