<div class="modal">
  <div class="modal-content">
    <span class="close-button">×</span>
    <form action="" id="signup-form">
      <label for="signup-username">Enter a username</label>
      <input type="text" name="signup-username" id="signUpUserName" />
      <label for="password">Enter a password</label>
      <input type="password" name="password" id="signUpPassword" />

      <button class="signup-btn" id="signup-button">signup</button>
    </form>
  </div>
</div>
<script src="/js/signup.js"></script>