/* MODEL styling start */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal .content {
  position: relative;
  padding: 10px;
  width: 400px;
  height: 300px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: rgba(112, 128, 175, 0.2) 0px 16px 24px 0px;
  transform: scale(0);
  transition: transform300ms cubic-bezier(0.57, 0.21, 0.69, 1.25);
  transition: scale;
}

.modal .content {
  transform: scale(1);
}

/* MODEL styling end */
