.settings-container {
  width: 35rem;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  border-radius: 5px;
}

.settings-title {
  color: #c678dd;
}

.back-arrow {
  position: relative;
  left: 25px;
}

.back-arrow:hover {
  cursor: pointer;
}

.settings-option {
  font-size: 1.4rem;
}

.settings-section {
  width: 85%;
  margin: auto;
}

.edit-account-img {
  display: block;
  border: #98c379 solid 1px;
  border-radius: 50%;
  height: 90px;
  margin-top: 5px;
}

.edit-profile-picture {
  font-size: 0.8rem;
  position: relative;
  display: inline;
  background-color: #0d1117;
  color: white;
  top: -30px;
  left: 50px;
  z-index: 1;
}

.edit-profile-picture:hover {
  cursor: pointer;
  background-color: #98c379;
}

.bracket {
  color: #c678dd;
  font-size: 2rem;
  margin-left: 4rem;
}

.bg-string {
  background-color: #98c379;
}

.bg-string:hover {
  background-color: greenyellow;
}

.settings-bg {
  background-color: #22272e;
  color: #819d9f;
}

.active-theme {
  color: #1f6feb;
}

.arrow::after {
  content: "\21AA";
  font-family: FontAwesome;
  position: relative;
  font-size: 30px;
  transition: all 0.2s;
}

.settings-variable {
  display: inline-block;
  color: #e06c75;
}

.custom {
  height: 500px;
  width: 500px;
}

.edit-pfp-modal-content {
  width: 20rem;
  height: 20rem;
}

/*  */
.t:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
  box-shadow: 0 0 10px 40px #98c379;
}

.t:active:after {
  box-shadow: 0 0 0 0 #98c379;
  border-radius: 4em;
  opacity: 1;
  transition: 0s;
}

.fav-tech-btn {
  background-color: #22272e;
  color: #819d9f;
  border: #819d9f 1px solid;
}

.fav-tech-btn:hover {
  color: #98c379;
}

.fav-tech-dropdown {
  width: 15rem;
  height: 15rem;
}

.icon-choices {
  padding: 0 !important;
}

.icon-choices:hover {
  cursor: pointer;
  filter: brightness(60%);
}

