.settings-container {
  width: 35rem;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  border-radius: 5px;
}

.back-arrow{
    position: relative;
    left: 25px
}

.back-arrow:hover {
    cursor: pointer;
}

.settings-option{
    font-size: 1.4rem;
}

.settings-section{
    width: 85%;
    margin: auto;
}