/* Fonts start */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
/* Fonts end */

/* Global classes styling start */
body {
  margin: 0;
  background-color: #0d1117;
  /* font-family: 'Source Code Pro', monospace; */
  display: flex;
  align-items: center;
}

a{
  color: #c9d1d9;
}
a:hover{
  color: #1f6feb;
}

.chat-container ul::-webkit-scrollbar {
	width: 12px;
}
  
/* Track */
.chat-container ul::-webkit-scrollbar-track {
  background: #0d1117;    
  border-left: 1px solid #30363d;
}
  
/* Thumb */
.chat-container ul::-webkit-scrollbar-thumb {
  background: #21262d;
  border-radius: 3px;    
  border-left: 1px solid #30363d;
}

/* Handle on hover */
.chat-container ul::-webkit-scrollbar-thumb:hover {
  background: #58a6ff;
}
/* Global classes styling end */

/* Chat styling start */
.chat-container .profile-image{
  width: 24px;
  border-radius: 50%;
  margin-right: 8px;
}

.chat-container ul {
  background-color: #0d1117;
  height: 500px;
  width: 100%;
  border-radius: 6px;
  overflow-y: auto;
  list-style-type: none;
  margin: 0px;
  color: #c9d1d9;
  padding: 0px;
  border: 1px solid #30363d;
}
.chat-container li {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #30363d;
}
.chat-container li:nth-child(odd) {
  background: #161b22;
}
/* .chat-container li:hover{
  background-color: #161b22;
} */
.chat-container form {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}
.chat-container input {
  border: none;
  padding: 4px 10px;
  border-radius: 6px;
  width: 70%;
  background: #fff;
  font-size: 16px;
}
.chat-container input:focus {
  outline: none;
}
.chat-container input::placeholder{
  color: #8b949e;
}
.chat-container button {
  background: #238636;
  border: none;
  margin-left: 7px;
  border-radius: 6px;
  outline: none;
  color: #fff;
  padding: 5px 16px;
  font-size: 16px;
  font-weight: 500;
}
.chat-container button i{
  font-size: 15px;
}
.chat-container button:hover {
  background: #2ea043;
}
/* Chat styling end */


/* MODEL styling start */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.hide-modal {
  opacity: o;
  visibility: hidden;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
/* MODEL styling end */
