/* Fonts start */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");
/* Fonts end */

/* CSS Variables Start */
:root {
  --main-bg-color: #0d1117;
  --main-second-bg-color: #161b22;
  --main-text-color: #c9d1d9;
  --main-highlight-color: #1f6feb;
  --main-border-color: #30363d;
}
/* CSS Variables End */

/* Global classes styling start */
body {
  margin: 0;
  background-color: var(--main-bg-color);
  /* font-family: 'Source Code Pro', monospace; */
  /* display: flex;
  align-items: center; */
}

a {
  color: var(--main-text-color);
  display: inline-block;
}
a:hover {
  color: var(--main-highlight-color);
}
/* Global classes styling end */

/* Header styling start */
header {
  background-color: var(--main-second-bg-color);
  color: var(--main-text-color);
  padding: 7px 0px;
  margin-bottom: 30px;
  position: relative;
  z-index: 99;
  border-bottom: 1px solid var(--main-border-color);
}

header h1 {
  font-weight: 300;
}

header a:hover {
  text-decoration: none;
  color: var(--main-text-color);
}

header span {
  font-size: 36px;
  cursor: pointer;
}
header span:hover {
  transform: scale(1.1);
}

.log-in {
  margin-left: 12px;
}

.log-in:hover {
  color: var(--main-highlight-color);
}

/* Header styling end */

/* Chat styling start */
/* Scroll bar styling start */
.chat-container ul::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.chat-container ul::-webkit-scrollbar-track {
  background: var(--main-bg-color);
  border-left: 1px solid var(--main-border-color);
}

/* Thumb */
.chat-container ul::-webkit-scrollbar-thumb {
  background: #21262d;
  border-radius: 3px;
  border-left: 1px solid var(--main-border-color);
}

/* Handle on hover */
.chat-container ul::-webkit-scrollbar-thumb:hover {
  background: var(--main-highlight-color);
}
/* Scroll bar styling end */

.chat-container .profile-image {
  width: 24px;
  border-radius: 50%;
  margin-right: 8px;
}

.chat-container ul {
  background-color: var(--main-bg-color);
  height: 500px;
  width: 100%;
  border-radius: 6px;
  overflow-y: auto;
  list-style-type: none;
  margin: 0px;
  color: var(--main-text-color);
  padding: 0px;
  border: 1px solid var(--main-border-color);
}
.chat-container li {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--main-border-color);
}
/* .chat-container li:nth-child(odd) {
  background: #161b22;
} */
.chat-container li:hover {
  background-color: var(--main-second-bg-color);
}
.chat-container form {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}
.chat-container input {
  border: none;
  padding: 4px 10px;
  border-radius: 6px;
  width: 70%;
  background: #fff;
  font-size: 16px;
}
.chat-container input:focus {
  outline: none;
}
.chat-container input::placeholder {
  color: #8b949e;
}
.chat-container button {
  background: #238636;
  border: none;
  margin-left: 7px;
  border-radius: 6px;
  outline: none;
  color: #fff;
  padding: 5px 16px;
  font-size: 16px;
  font-weight: 500;
}
.chat-container button i {
  font-size: 15px;
}
.chat-container button:hover {
  background: #2ea043;
}

/* Mobile styling start */
@media only screen and (max-width: 767px) {
  .chat-container ul {
    height: 420px;
  }
}
/* Mobile styling end */
/* Chat styling end */

/* Account slideout styling start */
.account-slideout {
  height: 100vh;
  width: 400px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 9;
  overflow: hidden;
  pointer-events: none;
}
.account-slideout .slideout {
  height: 100%;
  width: 100%;
  background-color: var(--main-second-bg-color);
  border-left: 1px solid var(--main-border-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(100%);
  padding-top: 6em;
  color: var(--main-text-color);
}
.account-slideout.active {
  pointer-events: all;
}
.account-slideout.active .slideout {
  transform: translateX(0%);
}
.account-slideout .slideout h2 {
  text-align: center;
  font-weight: 300;
}
/* Mobile styling start */
@media only screen and (max-width: 767px) {
  .account-slideout {
    width: 100vw;
    border-left: none;
  }
}
/* Mobile styling end */
/* Account slideout styling end */

/* apply this class when modal is active */
.blur {
  filter: blur(5px);
}

/*  */
.logged-in {
  color: green;
}

.logged-out {
  color: red;
}

/* user list styles */
.list-of-users {
  list-style: none;
  display: flex;
  flex-direction: column;
}
