body {
  margin: 0;
  background-color: #333;
}

.chat-container {
  width: 65vw;
  background-color: white;
  min-height: 600px;
  max-height: 600px;
  border-radius: 5px;
  margin: 2rem auto;
  overflow-y: scroll;
}

.msg-form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 200px;
  width: 50%;
  margin: auto;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

.msg-input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
}

.msg-input:focus {
  outline: none;
}

.msg-btn {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

.chat-messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.chat-messages > li {
  padding: 0.5rem 1rem;
}

.chat-messages > li:nth-child(odd) {
  background: #efefef;
}
