.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: transparent;
}

/* Modal Content */
.modal-content {
  position: absolute;
  left: 13%;
  width: 22rem;
  height: 20rem;
  background-color: #32353b;
  color: #c9d1d9;
}

.modal-pfp-styles {
  border: #98c379 solid 1px;
  border-radius: 50%;
  height: 120px;
}

.dm-input {
  color: #c9d1d9;
  background-color: #5e636b;
  padding: 10px;
  color: #c9cdd4;
  border-radius: 5px;
  border: none;
  height: 2.5rem;
  font-size: 0.9rem;
  width: 100%;
}

.dm-input:focus {
  outline-width: 0;
}

.username-modal-styles{
  font-size: 1.4rem;
}
